<h1><%= "#{@user.attributes['username']}" %></h1>
<% if current_user == @user %>
  <fieldset>
    <legend>Update Profile:</legend>
    <%= render 'form', url: user_path(@user), user: @user %>
    <p>Link your social!</p>
    <%= render 'social' %>
  </fieldset>
<% end %>
<ul>
  <br><li><%= link_to "User Reviews", user_reviews_path(@user) %></li>
  <li><%= link_to "User Favorites", user_favorites_path(@user) %></li>
</ul>