<h1>Add a Song!</h1>
<%= render 'notice' %>
<%= form_for Song.new do |f| %>
    <%= f.hidden_field :album_id, value: params[:album_id] %><br>
    <%= f.label :title, 'Title:' %><br>
    <%= f.submit %>
<% end %>