<% if medium.try(:children) %>
    <h4><%= medium.children.first.class.name.pluralize %>:</h4>
    <% medium.children.each do |child| %>
        <div class='medium_child_<%= child.id %>'>
            <%= link_to child.title, medium_path(child.medium_id)
        </div>
    <% end %>
    <hr>
<% else %>
    <p><%= medium.title %> has no <%= medium.class.name == 'Artist' ? 'Albums' : 'Songs' %>!</p>
<% end %>